@charset "UTF-8";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-size: 1em;
  color: #000;
}

h1 {
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  width: 500px;
}

p {
  margin: 10px 0px 30px 0px;
  width: 500px;
  text-align: center;
  color: rgb(215, 215, 215);
}

main {
  padding: 60px 0px;
  background: linear-gradient(
    to bottom right,
    rgb(46, 100, 201),
    rgb(134, 68, 182)
  ) !important;
  display: flex;
  justify-content: center;
}

.formulario {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  padding: 60px 50px;

  border-radius: 25px;
  border: 2px groove #fff;

  background-color: #fff;
}

.personales {
  margin-top: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 30px 10px;
}


.formulario > section > div {
  margin-left: 2px;
}

label {
  font-size: 1em;
  width: 450px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="email"] {
  margin-top: 6px;
  margin-bottom: 12px;
  width: 500px;
  height: 30px;
  background-color: #fff;
  border: 0.5px solid rgb(200, 200, 200);
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="email"]:focus {
  border: 1px solid rgb(0, 55, 255);
  outline: none;
}

fieldset {
  margin-top: 20px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  padding: 20px;
}


.boton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin-top: 20px;
  width: 150px;
  padding: 12px 10px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  border: 0.5px solid gray;
}

input[type="submit"] {
  color: black;
  background-color: #06cb27;
}

